# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules
/SERVER/node_modules
/SERVER/*.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#p4Merge
*.orig

#log
*.log
.log
SERVER/src/SQL/log*.txt

#database
*.ldf
*.mdf
src/mb3-setup-37469.37469-3.7.1.2839-1.0.586-1.0.10430.exe

#angular/cashe
.angular/cache/*
