* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	display: flex;
	height: 100%;
}

menu {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-width: 200px;
}

map {
	flex-grow: 3;
}